@using Microsoft.AspNetCore.Mvc.TagHelpers
@model CustomerDatalayer.Entities.Customer
@{
    ViewBag.Title = "Customer details";
}

<h3>Customer's details</h3>
<form class="w-50" asp-action="Update">
    <div class="mb-3">
        <label asp-for="CustomerId" class="form-label"></label>
        <input type="text" asp-for="CustomerId" readonly class="form-control">
    </div>
    <div class="mb-3">
        <label asp-for="FirstName" class="form-label"></label>
        @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" }})
        @Html.ValidationMessageFor(model => model.FirstName, "", new {@class = "text-danger"})
    </div>
    <div class="mb-3">
        <label asp-for="LastName" class="form-label"></label>
        @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" }})
        @Html.ValidationMessageFor(model => model.LastName, "", new {@class = "text-danger"})
    </div>
    <div class="mb-3">
        <label asp-for="PhoneNumber" class="form-label"></label>
        @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control" }})
        @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger"})
    </div>
    <div class="mb-3">
        <label asp-for="Email" class="form-label"></label>
        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" }})
        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger"})
    </div>
    <div class="mb-3">
        <label asp-for="TotalPurchasesAmount" class="form-label"></label>
        @Html.EditorFor(model => model.TotalPurchasesAmount, new { htmlAttributes = new { @class = "form-control" }})
        @Html.ValidationMessageFor(model => model.TotalPurchasesAmount, "", new { @class = "text-danger"})
    </div>
    <input type="submit" value="Apply changes" class="btn btn-primary">
</form>